.accordion {
  &-item {
    border-bottom: 2px solid #aa9f89;

    &:nth-child(1) {
      margin-bottom: 0.75rem;
      padding: 0 0 2.2rem;
    }
    &:nth-child(2) {
      margin-bottom: 1rem;
      padding-bottom: 0.92rem;
    }
    &:nth-child(3) {
      margin-bottom: 0;
      padding-bottom: 1.34rem;
    }

  }


  &-header {
    padding: 1.5rem 0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 600;
    position: relative;

    span:not(.accordion-icon) {
      font-family: 'Playfair Display', serif;
      color: #2c2820;
      font-size: 1.88rem;
      line-height: 1.88rem;
      letter-spacing: 0.01em;
    }
  }


  &-content {
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-out;
    opacity: 0;
    padding: 0;

    &[aria-hidden="false"] {
      max-height: 500px;
      padding-bottom: 1.5rem;
      display: block;
      opacity: 1;
    }

    p {
      color: #7e7666;
      font-size: 1.25rem;
      letter-spacing: 0.01em;
      line-height: 1.88rem;
      margin: 1rem 0 0;
      max-width: 90%;
    }
  }

  &-wrapper {
    transform: translate(-1px, 32px);
  }

} 

.accordion-header {
  .accordion-icon {
    width: 33px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e99077;
    font-size: 2.25rem;
    transition: all .3s ease;
    flex-shrink: 0;
    margin: 0 0.1rem 0 0;
    text-align: center;
    font-weight: 100;
    position: relative;

    &:after {
      content: "";
      width: 32px;
      height: 32px;
      position: absolute;
      display: block;
      z-index: 0;
      border: 2px solid #e99077;
      border-radius: 50%;
      right: 0;
    }
  }
  &[aria-expanded="true"] {
    .accordion-icon {
      transform: translate(-0.5px, 1.89rem);

      &:after {
        top: 6px;
        left: 0.65px;
      }
    }
  }
  &[aria-expanded="false"] {
    .accordion-icon {
      transform: translate(0, -0.01rem);

      &:after {
        top: 2px;
        left: 0px;
      }
    }
  }
}

