@use "../utils/variables" as vars;
@use "sass:map";
@use "./base";

.faq {
  &-section {
    padding: 0 0 clamp(4rem,8vw,8rem);
  }

  &-container {
    display: flex;
    gap: 4.88rem;
    padding: 0;
    align-items: start;
    max-width: 81.5%;
    margin: 0 auto;
  }

  &-image-container {
    width: 100%;
    border-radius: 0;
    max-width: 588px;
    overflow: hidden;
  }

}
